---

import Layout from "@/layouts/Layout.astro"
---
 
<Layout>
    <div class="flex flex-col items-center justify-center min-h-[60vh] text-center px-4">
        <div class="bg-muted text-primary px-4 py-1 rounded-full text-xs font-medium mb-4 shadow">
          En proceso
        </div>
        <h1 class="text-2xl md:text-3xl font-semibold text-foreground mb-2">
          Esta sección estará disponible muy pronto
        </h1>
        <p class="text-muted-foreground max-w-md">
          Estamos trabajando para traerte esta página lo antes posible. ¡Gracias por tu paciencia!
        </p>
      </div>
</Layout>


