---
import Layout from "../layouts/Layout.astro";
import CardProjects from "@/components/CardProjects.astro";
---

<Layout>
  <section class="w-[80%] mx-auto grid grid-cols-3 place-items-center gap-2 overflow-hidden p-6">
    <CardProjects></CardProjects>
  </section>
</Layout>
                   